.projects {
  padding: 100px 0;
  text-align: center;
}

.projects h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

/* Wrapper */
.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* Slider */
.projects-slider {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding: 20px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.projects-slider::-webkit-scrollbar {
  display: none;
}

/* Card */
.project-card {
  min-width: 300px;
  background-color: var(--color-neutral-light);
  border-radius: 20px;
  padding: 20px;
  border: 1px solid var(--color-neutral-dark);
  text-align: left;
    transition: all 0.1s ease-in-out;

}
.project-card:hover{
  background-color: var(--color-neutral-dark);
  color: var(--color-neutral-light);
  transition: all 0.1s ease-in-out;
}
.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 15px;
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card p {
  font-size: 0.9rem;
  margin-bottom: 12px;
}

/* Tech tags */
.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tech-list span {
  background: var(--color-neutral-dark);
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 0.75rem;
  color: white;
  font-weight: bold;
}

/* Links */
.links {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.links a {
  text-decoration: none;
  padding: 6px 14px;
  border-radius: 8px;
  background: var(--color-accent);
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
}

/* Buttons */
.nav-btn {
  background: var(--color-primary);
  border: none;
  color: white;
  font-size: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.nav-btn.left {
  margin-right: 10px;
}

.nav-btn.right {
  margin-left: 10px;
}

/* Mobile */

