/* Contact Header */
.contact-header {
  text-align: center;
  margin-bottom: 50px;
}

.contact-header h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.contact-header p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-neutral-dark);
}

/* Contact Form */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid var(--color-neutral-dark);
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.contact-form button {
  padding: 12px 20px;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-neutral-light);
  border: none;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.contact-form button:hover {
  background-color: var(--color-neutral-dark);
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 760px) {
  .contact-header h1 {
    font-size: 2rem;
  }
  .contact-header p {
    font-size: 1rem;
  }

  .contact-form button {
    font-size: 1rem;
  }
  .contact-form {
    width: 300px;
  }
}
