:root {
  --color-primary: #8b5e3c;
  --color-secondary: #cbb79a;
  --color-accent: #a1887f;
  --color-neutral-dark: #4e3b2f;
  --color-neutral-light: #f5f1ec;
}
body {
  background-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
  font-family: "Arial", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

h1,
h2,
h3 {
  color: var(--color-primary);
}

ul {
  text-decoration: none;
}
button {
  background-color: var(--color-primary);
  color: var(--color-neutral-light);
  border: none;
}

button:hover {
  background-color: var(--color-secondary);
}
html {
  scroll-behavior: smooth;
}
/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px; /* thin scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--color-neutral-light); /* track background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); /* thumb color */
  border-radius: 10px;
  border: 2px solid var(--color-neutral-light); /* optional spacing */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondary);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-neutral-light);
}
